* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../../imagenes/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    text-align: center;
    width:100%;
    position: fixed;
    top: 0;
}

header h1{
    padding: 10px;
    font-size: 26px; 
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}


main {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);   
    overflow: hidden;
    padding-left: 8%;
    padding-right: 8%;
}

/* Form styles */
form {
    width: 90%; 
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

label {
    display: block;
    font-weight: bold;
    margin: 5px 0;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    appearance: none;
    padding-right: 30px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M7 10L12 15L17 10H7Z" fill="black"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 20px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

footer a {
    font-size: 20px;
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: #007bff;
}


