* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../../imagenes/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    text-align: center;
    width:100%;
    position: fixed;
    top: 0;
}

header h1{
    padding: 10px;
    font-size: 26px; 
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}


main {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);   
    overflow: hidden;
    padding-left: 8%;
    padding-right: 8%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

ul {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);  
    list-style-type: none;
    text-align: center;
}

.posicion{
    font-size: 20px;
    font-weight: bold;
    max-width: 300px;
}

.posicion li {
    font-size: 18px;
    font-weight: normal; 
    margin-left: 20px;
    text-align: left;
    text-shadow: none;
}

/* Styling for footer */
footer {
    text-align: center;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

footer a {
    font-size: 20px;
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: #007bff;
}

@media screen and (max-width: 500px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .column {
        margin: 0;
    }

    .posicion {
        max-width: none;
    }
}
